/*  Style page de connexion */
#InscriptionPage {
    font-family: var(--primaryText);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
    background-image: url("../../IMAGES/Design\ sans\ titre.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root{
    --primaryText : 'montserrat', sans-serif;
    --primaryColor : #0066DC;
    --secondcolor : #1C1C1C;
    
}

* {
    box-sizing: border-box;
    font-family: var(--primaryText);
}

/* Conteneur principal */
.container {
	background-color: white;
	padding: 30px;
	border-radius: 16px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 82px 40px -14px rgba(100, 100, 100, 0.08);
    width: 380px;
	text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Titre */
h2 {
	margin-bottom: 20px;
}
/* Champs de saisie */
.input-group {
	text-align: left;
}
.input-group label {
	position: absolute;
	font-size: 14px;
    z-index: 10000000000;
    text-align: end;
    left: 41%;
    margin: 4px;

	
}
.input-group input {
    position: relative;
    width: 70%;
    margin: 0 auto;
    display: block;
    align-items: center;
    padding: 25px;
	border: 1px solid #ccc;
    z-index: 2;
}
/* Checkbox */
.checkbox-group {
	display: flex;
	font-size: 14px;
    margin: 0 auto;
    width: 85%;
	margin-bottom: 15px;
    margin-top: 10px;
}
.checkbox-group input {
	margin-right: 10px;
}
.checkbox-group a {
	color: #1976D2;
	text-decoration: none;
}
/* Bouton */
button {
	width: 85%;
    margin: 0 auto;
	padding: 12px;
	background-color: #3829c0;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.3s ease;
}
button:hover {
	background-color: #140a70;
}
/* Lien de connexion */
.login-link {
	margin-top: 15px;
	font-size: 14px;
}
.login-link a {
	color: #1976D2;
	text-decoration: none;
    font-weight: bold;
}

/* Responsive design pour mobile */
@media (max-width: 500px) {
    .container {
        width: 80%;
        padding: 10px;
    }
    .input-group input {
        width: 80%;

    }
    .checkbox-group {
        width: 50%;
    }
    button {
        width: 100%;
    }

    .input-group label {
        left: 15%;
        margin: 5px;
    }

    .checkbox-group {
        width: 100%;
        margin: 0;
        margin: 4px 0;
    }


    button {
        width: 100%;
    }

    .login-link {
        margin-top: 15px;
        font-size: 14px;
    }


    .login-link a {
        color: #1976D2;
        text-decoration: none;
        font-weight: bold;
    }

}



/* Style de la page d'accueil */
#HomePage {
    font-family: var(--primaryText);
    margin: 0;
    padding: 0;
    border: border-box;
}


.MenuAside{
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav {
    padding: 40px 28px;
    flex-grow: 1;
}

nav li {
    padding: 14px 0;
}

nav a i {
    color: white;
    font-size: 1.2em;
}

nav li a{
    display: flex;
    align-items: center;
    gap: 26px;
    font-size: 1.4em;
     color: white;
     font-weight: 200;
}

.profile {
    gap: 26px;
    border-bottom: 1px solid white ;
}

.profile a {
    display: flex;
    gap: 26px;
    align-items: center;
    padding: 20px 28px;
}

.profile div {
    height: 40px;
    aspect-ratio: 1 / 1;
    background-color: white;
    overflow: hidden;
    border-radius: 999px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

.couleur-theme {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.couleur-theme button {
    background-color: white;
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 999px;
}

.couleur-theme button span {
    height: 28px;
    aspect-ratio: 1 / 1;
    background-color: var(--primaryColor);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}


.header{
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    height: 80px;
    background-color: var(--primaryColor);

    
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 6px 20px;
    background-color: var(--primaryColor);
    border-bottom: 1px solid white;
}

.logo-container img{
    width: 250px;
    height: auto;
}


.search-bar {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
}

.search-bar input {
    height: 40px;
    padding: 0 10px;
}

.search-bar span {
    font-size: 2.4em;
}
