/*  Style page de connexion */
#InscriptionPage {
    font-family: var(--primaryText);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
    background-image: url("../../IMAGES/Design\ sans\ titre.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root{
    --primaryText : 'montserrat', sans-serif;
    --primaryColor : #0066DC;
    --secondcolor : #1C1C1C;
    
}

* {
    box-sizing: border-box;
    font-family: var(--primaryText);
}

.main-container {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-top: 80px;
}

main {
  background-color: red;
  overflow: hidden;
  overflow-y: scroll;
}

/* Conteneur principal */
.container {
	background-color: white;
	padding: 30px;
	border-radius: 16px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 82px 40px -14px rgba(100, 100, 100, 0.08);
    width: 380px;
	text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Titre */
h2 {
	margin-bottom: 20px;
}
/* Champs de saisie */
.input-group {
	text-align: left;
}
.input-group label {
	position: absolute;
	font-size: 14px;
    z-index: 10000000000;
    text-align: end;
    left: 41%;
    margin: 4px;

	
}
.input-group input {
    position: relative;
    width: 70%;
    margin: 0 auto;
    display: block;
    align-items: center;
    padding: 25px;
	border: 1px solid #ccc;
    z-index: 2;
}


/* Bouton */

/* From Uiverse.io by vishnupprajapat */ 
.checkbox-wrapper-46{
    margin: 10px 0;
}
.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
    
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }

  #TextCheckbox{
    font-size: 14px;
  }
  


button {
	width: 85%;
    margin: 0 auto;
	padding: 12px;
	background-color: #3829c0;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.3s ease;
}
button:hover {
	background-color: #140a70;
}
/* Lien de connexion */
.login-link {
	margin-top: 15px;
	font-size: 14px;
}
.login-link a {
	color: #1976D2;
	text-decoration: none;
    font-weight: bold;
}

/* Responsive design pour mobile */
@media (max-width: 500px) {
    .container {
        width: 80%;
        padding: 10px;
    }
    .input-group input {
        width: 80%;

    }
    .checkbox-group {
        width: 50%;
    }
    button {
        width: 100%;
    }

    .input-group label {
        left: 15%;
        margin: 5px;
    }

    .checkbox-group {
        width: 100%;
        margin: 0;
        margin: 4px 0;
    }


    button {
        width: 100%;
    }

    .login-link {
        margin-top: 15px;
        font-size: 14px;
    }


    .login-link a {
        color: #1976D2;
        text-decoration: none;
        font-weight: bold;
    }

}



/* Style de la page d'accueil */
#HomePage {
    font-family: var(--primaryText);
    margin: 0;
    padding: 0;
    border: border-box;
}


.MenuAside{
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav {
    padding: 40px 28px;
    flex-grow: 1;
}

nav li {
    padding: 14px 0;
}

nav a i {
    color: white;
    font-size: 1.2em;
}

nav li a{
    display: flex;
    align-items: center;
    gap: 26px;
    font-size: 1.4em;
     color: white;
     font-weight: 200;
}

.profile {
    width: 100%;
    gap: 26px;
    border-bottom: 1px solid white ;
}

.profile a {
    display: flex;
    gap: 26px;
    align-items: center;
    padding: 20px 28px;
}

.profile div {
    height: 40px;
    aspect-ratio: 1 / 1;
    background-color: white;
    overflow: hidden;
    border-radius: 999px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

.couleur-theme {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

/* From Uiverse.io by Madflows */ 
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: white;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  
  


.header{
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    height: 80px;
    background-color: var(--primaryColor);
    position: absolute;
    top: 0;
    left: 0;

}

.menu {
  display: none;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 6px 20px;
    background-color: var(--primaryColor);
    border-bottom: 1px solid white;
}

.logo-container img{
    width: 250px;
    height: auto;
}


.search-bar {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
}

.search-bar input {
    height: 40px;
    padding: 0 10px;
}

.search-bar span {
    font-size: 2.4em;
}


@media (max-width: 500px) {
  .header {
    grid-template-columns: auto 1fr;
    height: 65px;
    padding: 0 20px;
    border-bottom: 1px solid white;
  }

  .main-container {
    margin-top: 65px;
  }

  .menu {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
  }

  .logo-container {
    border-width: 0;
  }

  .logo-container img {
    width: 160px;
  }

  .search-bar {
    display: none;
  }

  .MenuAside{
    width: 100%;
    background-color: #1a1a1a;
  }
}